
body{
  background-color: #F1EDF1;
}
hr{
 
  border-color: gray -moz-use-text-color -moz-use-text-color;
}
.animated
{
  opacity: 1;
  max-height: auto;
  overflow: hidden;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  transition: all 3s ease;
}

.animated.ng-hide
{
  opacity: 0;
  max-height: 0px !important;
  overflow: hidden;
  display: block !important ;
}
.white{
	color: white;
}
.navbar{ /*Para quitar el margen por defecto del menu navbar*/
	margin-bottom: 0;
}

.sidebar {
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  margin-top: 5.1px;
}
.container-body{
	margin-top: 1em;
}
.mythumb{
  border: solid 3px white;
}
.thumbblack{
  border: solid 3px gray;
}
.floating-bottom {

 bottom:12px;
  right:2px;
  position: fixed;
  _position:absolute;
  clip:inherit;
  _top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
  _right:expression(document.documentElement.scrollLeft+ document.documentElement.clientWidth - offsetWidth);
}

.panel-custom {
  background-color: #F8F8FF;
  border-radius: 9px 9px 0px 0px;
  /*border-color: #008B8B;*/

}
.panel-heading-custom
{
  /*background-color: #008B8B;*/
  padding: 10px 15px;
  color: white;
  border-radius: 7px 7px 0px 0px;
}


  /*Publications   paneles
}
.publication_box {
  margin-top: 1em;
  float:left;
  padding-right: 2em;
  padding-top: 1em;

}
.publication_box_content{
  border: solid 1px black;
  border-radius: 3px 3px;
  width: 250px;
  height: 360px;
  padding: .7em;
    
}
 */

 .center{
  margin: 0 auto;
 }

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.public_box{
  margin-top: 2em;
  float:left;
  margin-left: 2.2em;
}
.public_box_content{
 
  width: 250px;
  height: 290px;
}
.public_box_content_description{
   padding: .7em;
    text-indent: 40px;
}
.public_box_actions{
  margin-left: 1em;
  margin-bottom: 1em;
}
/* end publication */
.no-float{
  float: none;
  margin: 0 auto;
}

/*Comentarios*/

/*
.comments_list{
  margin-top: 2em;
  padding: .7em;
  height: 20em; 
  overflow: hidden;
}
.comment_list_child{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.comment_list_content{
  padding: .7em;
   background-color: #f5f5f5;
   border-radius: 1em 1em 1em 1em;
   width: 100%;
}
.comment_list_description{
  text-indent: 40px;
}
.comment_list_content:nth-child(odd) {
    background-color:   #F5F5F5;
}

.comment_list_content:nth-child(even) {
    background-color:  #F0F8FF;
}*/

/*Comentario chuy*/

/*.comment_box{
  margin-top: 1em;
}
.comment_box_text_name{
  width: 200px;
}
.c_box{
 display: block;
 width: 100%;
 height: 200px;
 padding: 2em;
 overflow: auto;
 height: 300px;
 background-color: #C0C0C0;
}
.img{
    margin-top: 1%;
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
     float:left;
    margin-left: 20px;
}

.c_content{
    float:left;
    width: 100%;
    line-height: 1.6;
    background-color: #D3D3D3;
    border-radius: 0em 3em 0m 3em; 
    margin-top: 1em;
}

.c_text{
  
}
.c_content:nth-child(odd){
  background-color: #F5F5DC;
}
.c_content:nth-child(even) {
  background-color:   #F0F8FF;
}
.c_parraph{
    padding: 1em;
    display: flex;
    text-align: justify;
   
    width: 80%;
    
    align-content: left;
    justify-content: left;
}
.c_label{
  margin-top: 1em;
  text-align: justify;
  margin-left: 22px; 
}
*/


/*Comentarios de bootstrap*/
.bootstrap_comment_box{
   padding: 1em;
  overflow: auto;
   height: 400px;
  background-color: #C0C0C0;
  border-radius: 10px 10px 10px 10px;
}
.bootstrap_comment_box_content{
  background-color: gray; padding: 1em;
  margin-top: 1em;
  border-radius: 10px 10px 10px 10px;
}
.bootstrap_comment_box_content:nth-child(odd) {
    background-color:   #F5F5F5;
}

.bootstrap_comment_box_content:nth-child(even) {
    background-color:  #F0F8FF;
}
.bootstrap_comment_box_parraph{
  padding: 0px; 
}
.bootstrap_comment_box_parraph p {
  text-align: justify;
}
.bootstrap_comment_box_parraph{

}

.bootstrap_proposal_box{
    padding: 1em;
    overflow: auto;
    height: 600px;
    background-color: #C0C0C0;
    border-radius: 10px 10px 10px 10px;
}
.bootstrap_proposal_box_content{
  background-color: gray; padding: 1em;
  margin-top: 1em;
  border-radius: 10px 10px 10px 10px;
}
.bootstrap_proposal_box_content:nth-child(odd) {
    background-color:   #F5F5F5;
}

.bootstrap_proposal_box_content:nth-child(even) {
    background-color:  #F0F8FF;
}


.white
{
  color: white;
}

.red{
  color: red;
}
.blue{
  color: #00BFFF;
}
.orange{
  color: orange;
}
.green{
  color: green;
}
.darkgreen{
  color: darkgreen;
}
.lightblue{
  color: lightblue;
}
.chocolate{
  color: #D2691E;
}
.darkslategray{
  color: #2F4F4F;
}
