
body{
  background-color:   #E6E6FA;
}
hr{
 
  border-color: gray -moz-use-text-color -moz-use-text-color;
}
.white{
	color: white;
}
.navbar{ /*Para quitar el margen por defecto del menu navbar*/
	margin-bottom: 0;
}

.sidebar {
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  margin-top: 5.1px;
}
.container-body{
	margin-top: 1em;
}

.floating-bottom {

 bottom:12px;
  right:2px;
  position: fixed;
  _position:absolute;
  clip:inherit;
  _top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
  _right:expression(document.documentElement.scrollLeft+ document.documentElement.clientWidth - offsetWidth);
}
  /*Publications  
.publication_box {
  margin-top: 1em;
  float:left;
  padding-right: 2em;
  padding-top: 1em;

}
.publication_box_content{
  border: solid 1px black;
  border-radius: 3px 3px;
  width: 250px;
  height: 360px;
  padding: .7em;
    
}
 */

 .center{
  margin: 0 auto;
 }

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.public_box{
  margin-top: 2em;
  float:left;
  margin-right: 2em;
}
.public_box_content{
 
  width: 250px;
  height: 290px;
}
.public_box_content_description{
   padding: .7em;
    text-indent: 40px;
}
.public_box_actions{
  margin-left: 1em;
  margin-bottom: 1em;
}
/* end publication */
.no-float{
  float: none;
  margin: 0 auto;
}

/*Comentarios*/

/*
.comments_list{
  margin-top: 2em;
  padding: .7em;
  height: 20em; 
  overflow: hidden;
}
.comment_list_child{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.comment_list_content{
  padding: .7em;
   background-color: #f5f5f5;
   border-radius: 1em 1em 1em 1em;
   width: 100%;
}
.comment_list_description{
  text-indent: 40px;
}
.comment_list_content:nth-child(odd) {
    background-color:   #F5F5F5;
}

.comment_list_content:nth-child(even) {
    background-color:  #F0F8FF;
}*/

/*Comentario descargados*/

.comment_box{
  margin-top: 1em;
}
.comment_box_text_name{
  width: 200px;
}
.c_box{
 display: block;
 width: 100%;
 height: 200px;
 padding: 2em;
 overflow: auto;
 height: 300px;
 background-color: #C0C0C0;
}
.img{
    margin-top: 1%;
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
     float:left;
    margin-left: 20px;
}

.c_content{
    float:left;
    width: 100%;
    line-height: 1.6;
    background-color: #D3D3D3;
    border-radius: 1em 1em; 
    margin-top: 1em;
}

.c_text{
  
}
.c_content:nth-child(odd){
  background-color: #F5F5DC;
}
.c_content:nth-child(even) {
  background-color:   #F0F8FF;
}
.c_parraph{
    padding: 1em;
    display: flex;
    text-align: justify;
    /*margin-left: 100px;*/
    width: 80%;
    /*height: 95px;*/
    align-content: left;
    justify-content: left;
}
.c_label{
  margin-top: 1em;
  text-align: justify;
  margin-left: 22px; 
}



